/*
 * Css for js interaktion states
 *
 * @author Full Name of Author <author@email.com>
 * @version yyy-mm-dd (Date of latest edit)
 */

 /*******************************************/
/* CONTENTS */
/*******************************************/
/*
* RESET Reset default browser styling
* SHARED Shared elements across modules and layout
* MAIN html, body
* LAYOUT header, footer, wrapper, etc.
*/