/*
 * Base styling. example: link base styling, base font size etc.
 *
 * @author Full Name of Author <author@email.com>
 * @version yyy-mm-dd (Date of latest edit)
 */

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/

/*
* $VIEWPORT-BREAKPOINTS 
* $FONT-SIZES
*/



/*------------------------------------*\
    $VIEWPORT-BREAKPOINTS
\*------------------------------------*/

// Screen Sizes
$screen-small: 768px;
$screen-medium: 1280px;
$screen-large: 1440px;
$screen-facebook-desktop: 810px;

// Media Queries
$media-screen: "only screen";
$media-small: "only screen and (min-width: #{$screen-small})";
$media-medium: "only screen and (min-width: #{$screen-medium})";
$media-large: "only screen and (min-width: #{$screen-large})";
$media-landscape: "only screen and (orientation: landscape)";
$media-portrait: "only screen and (orientation: portrait)";
$media-facebook-desktop: "only screen and (min-width: #{$screen-facebook-desktop})";

// NOTE: No need to change this conditional statement, $text-direction variable controls it all.
$default-float: left !default;
$opposite-direction: right !default;
@if $text-direction == ltr {
  $default-float: left;
  $opposite-direction: right;
} @else {
  $default-float: right;
  $opposite-direction: left;
}



/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/
/**
 * Font-sizes (in ems using emCalc(); function.) Look in _mixins.scss for reference
 */


/**
 * Base font size used for em referance
 */

$base-font-size: 100% !default;
$base-line-height: 150% !default;
$em-base: 16 !default;
$text-direction: ltr !default;

/**
* Font-sizes
*/


$giga-size:         emCalc(96)!default; // .giga
$giga-size-small:   emCalc(96)!default; // .giga
$mega-size:         emCalc(72)!default; // .mega
$mega-size-small:   emCalc(72)!default; // .mega
$kilo-size:         emCalc(48)!default; // .kilo
$kilo-size-small:   emCalc(48)!default; // .kilo

$h1-size:           emCalc(36)!default; // .alpha
$h1-size-small:     emCalc(36)!default; // .alpha
$h2-size:           emCalc(30)!default; // .beta
$h2-size-small:     emCalc(30)!default; // .beta
$h3-size:           emCalc(24)!default; // .gamma
$h3-size-small:     emCalc(24)!default; // .gamma
$h4-size:           emCalc(20)!default; // .delta
$h4-size-small:     emCalc(20)!default; // .delta
$h5-size:           emCalc(16)!default; // .epsilon
$h5-size-small:     emCalc(16)!default; // .epsilon
$h6-size:           emCalc(14)!default; // .zeta
$h6-size-small:     emCalc(14)!default; // .zeta



