@import
    "../mixins",
    "../variables",
    "../base",
    "../modules/modules",
    "../states",
    "../layout/grid.layout",
    "../themes/project.theme";


    .display {
        @include grid-row();
        .nest {
            @include grid-row(nest);
            h6 {
                @include grid-row(12);
            }
        }
        .a1, .a2, .a3 {
            @include grid-column(4);
        }
        .b1 {
            @include grid-column(9);
            .b1-1, .b1-2 {
                @include grid-column(6);
            }
        }
        .b2 {
            @include grid-column(3);
            .b2-1 {
                @include grid-column(3);
            }
            .b2-2 {
                @include grid-column(9);
            }
        }
        .c1 {
            @include grid-column(1);
        }
        .c2 {
            @include grid-column(9, $offset: 2);
        }
        .d1 {
            @include grid-column(3, $center: true);
        }
        .e1 {
            @include grid-column(2, $push: 10);
        }
        .e2 {
            @include grid-column(10, $pull: 2);
        }
        .f1, .f2 {
            @include grid-column(4);
        }
        .f3 {
            @include grid-column(4);
        }
        .f4 {
            @include grid-column(4, $float:right);
        }
    }

